.button {
  background-color: transparent;
  border-color: #1ad1b9;
  color: #1ad1b9;
  margin-left: 8px;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #ff01f1;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #ffffff;
}